.whatsapp {
  position: fixed;
  top: 180px;
  right: 20px;
  color: #fff;
  border-radius: 50%;
  z-index: 100;
}

.container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color7a);
}

.header {
  display: fles;
  justify-direction: column;
  width: 100vw;
  padding: 30px 0 20px;
  background-color: var(--color8a);
  box-shadow: 0 4px 8px 0 var(--colors1), 0 6px 20px 0 var(--colors2);
}
.header h1 {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  color: var(--color3c);
}

.main {
  width: 100%;
  min-height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh 0;
  color: var(--color8a);
  background-color: var(--color3a);
  box-shadow: 0 4px 8px 0 var(--colors1), 0 6px 20px 0 var(--colors2);
}

.blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 30px auto 20px;
}

.block1 {
  width: 320px;
  height: 320px;
  color: #202020;
  background-color: #fcfcfc;
}
.block1 h3 {
  padding: 40px 0 20px;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.block1 h4 {
  height: 100px;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;
}
.block1 p {
  height: 80px;
  padding-top: 40px;
  text-align: center;
}
.block1 p button {
  align-self: center;
  padding: 8px 36px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #202020;
  background-color: #fcfcfc;
}
.block1 button:hover {
  background-color: #dddcccbd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block2 {
  width: 320px;
  height: 320px;
  color: #ffffff;
  background-color: #637afc;
}
.block2 h3 {
  padding: 40px 0 20px;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.block2 h4 {
  height: 100px;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;
}
.block2 p {
  height: 80px;
  padding-top: 40px;
  text-align: center;
}
.block2 p button {
  align-self: center;
  padding: 8px 36px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #637afc;
}
.block2 button:hover {
  background-color: #4157d381;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block3 {
  width: 320px;
  height: 320px;
  color: #ffffff;
  background-color: #f86c3e;
}
.block3 h3 {
  padding: 40px 0 20px;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.block3 h4 {
  height: 100px;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;
}
.block3 p {
  height: 80px;
  padding-top: 40px;
  text-align: center;
}
.block3 p button {
  align-self: center;
  padding: 8px 36px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #f86c3e;
}
.block3 button:hover {
  background-color: #ff400048;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
